# remove all files(node_modules) in the backend directory - including folder itself
node_modules

#remove env files
.env

#remove vs_code settings
.vscode

#remove help docs in the root directory - types (.md)
docs/*.md 